@model List<SpaceRealty.Models.House>
@{
    ViewData["Title"] = "Houses";
}
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
}

<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Houses</title>
</head>
<body>
    <input id="searchText" type="text" placeholder="Search..." onkeyup="updateTable();" />
    <div id="housesTable">
        @Html.Partial("_HousesList", Model)
    </div>
    @Html.ActionLink("Add New Property", "AddProperty", "Property")
</body>
</html>
<script type="text/javascript">
    function updateTable() {
        var sdata = String($("#searchText").val());
        var target = '@Url.Action("SearchHouses", "Property")' + '?searchTerm=' + sdata
        $.ajax({
            type: "POST",
            async: false,
            cache: false,
            dataType: "html",
            contentType: "application/json; charset=utf-8",
            url: target,
            success: function (result) {
                $("#housesTable").html(result);
            }
        });
    };
</script>